*{
    margin: 0;
    padding: 0;

}
body{
    background-color:lightcoral;
    font-size: 25px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    right: 5px;
    padding: 10px 20px;
}
li{
    padding-right: 20px;
}
.links{
    text-decoration: none;
}
#name{
    color:black;
    font-size: 25px;
    padding-right: 150px;
}
#home{
    display:flex;
    background-color:peachpuff;
    height: 70px;
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
}
#profilepic{
    height:180px;
    width:150px;
    margin:10px 10px 0px 10px;
    border-radius: 80px;
}
#about{
    display: flex;
    align-items: center;
}
#work{
    background-color: peru;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}
hr{
    width: 400px;
}
.project{
    background-color: aliceblue;
    color: black;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius:10px ;
}
#work p hr{
    margin-bottom: 10px;
}
#work div{
    display: flex;
    justify-content: space-around;
    margin:10px 0;
    width:100%;
}
li{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style:none ;
    padding: 3px;
}
progreess[value]{
    height: 10px;
    width: 350px;
    
}
#resume{
    
    padding: 5px  0 5px 0;
    text-align: center;
    font-size: 15px;
}
#contact,form{
    background-color: blanchedalmond;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 0 3px 0;
}
.input{
    line-height: 12px;
    width: 250px;
    border-radius: 1px;
    border-color: black;
    margin: 10px 0;
}